.btn-flotante-accion {
  position: absolute;
  bottom: 90px;
  right: 20px;
  width: 56px;
  height: 56px;
  background-color: var(--primary-container);
  border: none;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
  z-index: 100;
  cursor: pointer;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: var(--on-primary-container);
}

.btn-flotante-accion:active {
  transform: scale(0.92);
}
