<div class="inventory-page">
  <div class="sticky-header">
    <app-top-bar
      title="Historial de Ventas"
      (back)="volver()"
      (alert)="handleNotification()"
    ></app-top-bar>

    <div class="header-actions">
      <app-boton-filtro (clicFiltro)="irAFiltrar()"></app-boton-filtro>
    </div>
  </div>

  <main class="content">
    @if (errorMessage()) {
      <div class="error-msg">{{ errorMessage() }}</div>
    }

    @if (isLoading() && !errorMessage()) {
      <div class="loading-msg">Cargando historial...</div>
    }

    @if (!isLoading() && !errorMessage()) {
      <app-venta-list
        [ventasAgrupadas]="ventasAgrupadas()"
        (ventaSelected)="verDetalle($event)"
      ></app-venta-list>
    }
  </main>

  <app-fab-button (clicked)="handleAddSale()"></app-fab-button>
</div>
